.contribute {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    margin: 60px auto;
}

.contrisvg {
    width: 50%;
    min-width: 400px;
    height: 100%;
}

.contrisvg img {
    height: 100%;
    width: 100%;
}

.contribute_info {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    align-items: start;
    height: 90%;
    justify-content: space-between;
}

.contribute_btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.contribute_info h1 {
    font-size: 35px;
    font-weight: 700;
}

.contribute_info p {
    font-size: 17px;
    font-weight: 500;
    text-align: left;
}

.contribute_info a {
    background-color: #0f172a;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    font-weight: 600;
}

.contribute_info a:hover {
    padding: 10px 30px;
}

@media (max-width: 1024px) {
    .contribute_info {
        width: 100%;
    }

    .contrisvg {
        width: 100%;
        min-width: 200px;
        height: 60%;
    }

    .contrisvg img {
        width: 100%;
    }
}